{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}


{% block page_content %}
<div class="page-header">
    <h1>Hello
        {% if name %}
            {{ name }}
        {% else %}
            Stranger
        {% endif %}!
    </h1>
    <p>
        {% if known %}
            Nice to see you again bro!
        {% else %}
            Nice to meet you!
        {% endif %}
    </p>
</div>
<p>Date and time: {{ moment(current_time).format("LLL") }}</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>

{{ wtf.quick_form(form) }}
{% endblock %}